:root {
  // temporary adjustment
  --ifm-font-weight-bold: 600;
}

.wip {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--content-padding));
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    display: none !important;
  }
}

.main-wrapper > .container {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

main {
  margin-bottom: 0 !important;
  padding: 0 !important;
}


nav {
  display: none !important;
}

.hidden {
  display: none;
}